
		<div class="container demo-1" >
			<div class="content1">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<h1 class="main-title">Photos <span class="thin">And a Story</span></h1>
				</div>

			</div>
        <style>
        body {
        	height:900px;
        }

        html {
        	height:900px;
        }
        .container {
        	width:100%;
        	height:100%;
        }
        </style>
        <% javascript 'demo-1' %>
        <% javascript 'EasePack.min' %>
        <% javascript 'TweenLite.min' %>
        <% javascript 'rAF' %>
						<section class="main">
						<div class="row">
						<div class="col s12 m8 l6 offset-m2 offset-l4">
   				<div class="alert alert-danger" style="background-color:white;position:relative;top:30px;"> <%= flash[:login_error] %> </div>

				<form action="/session" class="login_form" method='post'>
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    				<input type="hidden" name="_method" value="create">
				    <p class="clearfix">
				        <label for="login">Email</label>
				        <input class="form-control" type="text" name="session[email]" id="login" placeholder="Username">
				    </p>
				    <p class="clearfix">
				        <label for="password">Password</label>
				        <input type="password" name="session[password]" id="password" placeholder="Password"> 
				    </p>
				    <p class="clearfix">
				        <input type="checkbox" name="remember" id="remember">
				        <label for="remember">Remember me</label>
				    </p>
				    <p class="clearfix">
				        <input class="lotstext" type="submit" name="submit" value="Sign in">
				    </p>
				    </form>​
				    <a href="photos/show" class="btn btn-primary">Not a Member? Enter Anyways!</a>
				    
				</div>
				</div>
			</section>